<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Prestamos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card >
    <ion-card-header>
      <ion-card-title>Prestamo #1</ion-card-title>
    </ion-card-header>
    <ion-card-content> {{monto1}} </ion-card-content>
    <ion-card-content> Deuda Pendiente = 00000 </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Prestamo #2</ion-card-title>
    </ion-card-header>
    <ion-card-content> Monto = 00000 </ion-card-content>
    <ion-card-content> Deuda Pendiente = 00000 </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Prestamo #3</ion-card-title>
    </ion-card-header>
    <ion-card-content> Monto = 00000 </ion-card-content>
    <ion-card-content> Deuda Pendiente = 00000 </ion-card-content>
  </ion-card>
  
</ion-content>
