<ion-header class="ion-no-border">

</ion-header>

<ion-content>
  <div id="header">
    <img src="assets/img/login.png" alt="" />
  </div>
  

  <div>
    <ion-textarea   placeholder="Cédula"> </ion-textarea>
    <app-input [(ngModel)]="cedula1" name="fieldCedula" ngDefaultControl  placeholder="Cédula"></app-input>
    <app-input [(ngModel)]="clave1" name="fieldClave" ngDefaultControl placeholder="Contraseña"></app-input>
    <ion-button expand="block" shape="round" routerLink="/cuentas" (click)="getTask()"> Iniciar sesión </ion-button>
    
  </div>
</ion-content>
