<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Descuentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

      
  </div>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Al usar nuestra tarjeta obtienes los siguientes descuentos:</ion-card-title>
      </ion-card-header>
      <ion-list>


        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/img/rest.png" />
          </ion-avatar>
          <ion-label>

            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <span>5% en restaurantes.</span>

          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/img/gym.jpg" />
          </ion-avatar>
          <ion-label>
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <span>5% en pagos de gimnasios.</span>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/img/gas.jpg" />
          </ion-avatar>
          <ion-label>
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <span>2% en pagos de combustibles.</span>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/img/cart.png" />
          </ion-avatar>
          <ion-label>
            <ion-icon name="checkmark-circle-outline"></ion-icon>
                <span>8% en Supermercados.</span>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/img/clothes.jpg" />
          </ion-avatar>
          <ion-label>
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <span>2% en compras de ropa.</span>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>