<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cuentas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-header>

      <ion-card-subtitle>Cuenta #1</ion-card-subtitle>
      <ion-card-title>Cuenta de Ahorro en Dolares</ion-card-title>
    </ion-card-header>
    <ion-card-content> Monto = 585 </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Cuenta #2</ion-card-subtitle>
      <ion-card-title>Cuenta de Ahorro</ion-card-title>
    </ion-card-header>
    <ion-card-content> Monto = 32560 </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Cuenta #3</ion-card-subtitle>
      <ion-card-title>Cuenta de Ahorro</ion-card-title>
    </ion-card-header>
    <ion-card-content> Monto = 12893 </ion-card-content>
  </ion-card>

  
</ion-content>
