<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card class="ion-text-center">
      <img src="" />
      <ion-card-header>
        <ion-card-title>COOPDGII nominada a mejor cooperativa de la región.</ion-card-title>
      </ion-card-header>
      <ion-card><img  src="../../assets/img/socio.jpg" /></ion-card>
      
      <ion-card-content class="ion-text-justify">
        <div >
            <h4> La revista Euromoney reconoció a COOPDGII como una de las Mejores cooperativas de la región al ser nominada para el galardón con el mismo nombre, esto por su desempeño excepcional en 2020 y una serie de iniciativas que contribuyeron al bienestar social y económico de sus miembros, desde que inició la pandemia.
            </h4>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card class="ion-text-center">
      <img src="" />
      <ion-card-header>
        <ion-card-title>Ganador de la primera Jeepeta</ion-card-title>
      </ion-card-header>
      <ion-card><img  src="../../assets/img/rifa.jpg" /></ion-card>
      
      <ion-card-content class="ion-text-justify">
        <div >
            <h4> Ya ha sido entregado la primera de tres jeepetas Chevrolet Tracker 2022 0 kilometros, el ganador fue el joven Leonal Perez, no te quedes afuera, puedes ser el proximo ganador, recuerdas que puedes participar en la rifa utilizando tu tarjeta de la cooperativa. Por cada 1000 pesos gasatados autmaticamente generas un boleto con el cual estarás participando, ¡No te quedes fuera!
            </h4>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card class="ion-text-center">
      <img src="" />
      <ion-card-header>
        <ion-card-title>Los 20 parques remozados con contribución de COOPDGII ya abiertos!</ion-card-title>
      </ion-card-header>
      <ion-card><img  src="../../assets/img/parque.jpg" /></ion-card>
      
      <ion-card-content class="ion-text-justify">
        <div >
            <h4> Ya han sido reinaugurados los 20 parques remodelados por el ADN con el apoyo de COOPDGII concluyendo con el Parque Las Avenidas, ubicado en Villa Marina. El Parque Las Avenidas, al igual que los demás espacios que ha recuperado y remozado la ADN junto a COOPDGII, son una muestra del compromiso de ambas entidades para la revalorización y transformación de los espacios públicos del Distrito Nacional.
            </h4>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  
  <div>
    <ion-card class="ion-text-center">
      <img src="" />
      <ion-card-header>
        <ion-card-title>Rifa. ¡Tu primera Jeepeta 2022!</ion-card-title>
      </ion-card-header>
      <ion-card><img  src="../../assets/img/jeep.jpg" /></ion-card>
      
      <ion-card-content class="ion-text-justify">
        <div >
            <h4> Es un placer anunciarles que la rifa ¡Tu primera Jeepeta! del año 2022 ya tiene fecha de inicio para este proximo Lunes catorce de febrero. Se estarán sorteando tres chevrolet tracker 2022 cero kilometros, ya puedes participar en la rifa utilizando tu tarjeta de la cooperativa. Por cada 1000 pesos gasatados automaticamente generas un boleto con el cual estarás participando, ¡No te quedes fuera!
            </h4>
          </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-card class="ion-text-center">
      <img src="" />
      <ion-card-header>
        <ion-card-title>Que tu buca pa aca bajo? El banco roba, pero no roba motol.</ion-card-title>
      </ion-card-header>
      <ion-card><img  src="https://c.tenor.com/Boow3e3myNAAAAAC/reallynigga.gif" /></ion-card>
      
      <ion-card-content class="ion-text-justify">
        <div >
            <h4> 
              Ello saben que yo soy el arreglista
Que no hay un drum que yo no acople
Que no hay un sample que resista
Abran el telón llego el artista
Sientan el calor de mi presencia
En lo freestyle aunque no asista
Yo preparo el químico, aprendan con la vista
Los resultados crítico', publíquenlo en revista
El rap dominicano tiene prisa
Yo soy el arquitecto veterano
Juego a la ruleta suiza
Cartucho, tinta y tiza mano
'Tá chiquito 'e risa
Cartucho, tinta y tiza mano
'Tá chiquito 'e risa
Cartucho, tinta y tiza mano
'Tá chiquito 'e risa
El arquitecto veterano, juego a la ruleta suiza (con to' intalao')
Porque fue que me di cuenta
Venimo' a pesar lo' kilo
Porque fue que me di cuenta
Porque fue que me di cuenta
Porque fue que me di cuenta (con to' intalao')
Que nadie lo hace a mi estilo
Pa-pa-pa-pa' que bote el cuero
Venimo' a pesar lo' kilo
Pa' que bote el cuero
Venimo' a pesar lo' kilo
Pa' que bote el cuero
Venimo' a pesar lo' kilo
Pa' que bote el
Pa' que bote el
Pa' que bote el
Pa-pa-pa-pa' que bote el cuero
Venimo' a pesar lo' kilo
Piddy Pa' trayendo el toque callejero
Pablo Piddy
(El más agresivo)
            </h4>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
