<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <img src="" />
      <ion-card-header>
        <ion-card-title>Noticia 1</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lol el banco rooba pila
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <img src="" />
      <ion-card-header>
        <ion-card-title>Noticia 1</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lol el banco rooba pila
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <img src="" />
      <ion-card-header>
        <ion-card-title>Noticia 1</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lol el banco rooba pila
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <img src="" />
      <ion-card-header>
        <ion-card-title>Noticia 1</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lol el banco rooba pila
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <img src="" />
      <ion-card-header>
        <ion-card-title>Noticia 1</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lol el banco rooba pila
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
