<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Solicitudes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br>
      <ion-button expand="block"  (click)="prestamoAlert()"> Prestamo </ion-button>
      <br>
      <ion-button expand="block"  (click)="cuentaAlert()"> Estado de cuenta </ion-button>
      <br>
      <ion-button expand="block"  (click)="tarjetaAlert()"> Solicitar tarjeta de credito </ion-button>
      <br>
      <ion-button expand="block"  (click)="otroAlert()"> Otro</ion-button>
 




</ion-content>
